<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Página do Burnes sobre HTML e CSS">
        <meta name="keywords" content="html, css, js, site">
        <meta name="robots" content="index">
        <title>Perfil de usuario</title>
      </head>
<body>
    <h1>Perfil de usuario</h1>
</body>
</html>